# usage: pip install -r requirements.txt
faiss_cpu
gdown
numpy
opencv_python
Pillow
scikit_image
scikit_learn
scipy
torch
torchvision
tqdm
einops
matplotlib
kornia
transforms3d
h5py
kornia_moons
yacs
gdown>=5.1.0
tables
imageio
vispy
xformers
pyglet==1.5.28
tensorboard
scipy
trimesh
e2cnn
scikit-learn
py3_wget
roma
huggingface_hub
open3d