# usage: pip install -r requirements.txt
colorama
evo
faiss_cpu
gtsam
matplotlib
numpy
open3d
opencv_python
Pillow
pyiqa
pymap3d
pytest
pytorch_lightning
PyYAML
scipy
simplekml
torch
torchvision
tqdm
transforms3d
trimesh
yacs
