<launch>
	<!-- Base Parameters -->
	<param name="use_sim_time" value="true" />

	<node name="depth_registration" pkg="topo_loc" type="depth_registration.py" output="screen">
		<remap from="/depth/image" to="/zed2/zed_node/depth/depth_registered" />
		<remap from="/depth/camera_info" to="/zed2/zed_node/depth/camera_info" />
		<param name="frame_id_map" value="vloc_map" />
		<param name="voxel_radius" value="0.1" />
		<param name="min_depth" value="0.1" />
		<param name="max_depth" value="10.0" />
	</node>

  <!-- Static TF -->
  <!-- Option 1: x y z yaw pitch roll (radians) frame_id child_frame_id period_in_ms -->
  <!-- Option 2: x y z qx qy qz qw frame_id child_frame_id period_in_ms -->
  <node pkg="tf" type="static_transform_publisher" name="vloc_trans_publisher" 
			  args="0 0 0 0 0 0 map vloc_map 10" />

</launch>
